<main class="tab-content container-fluid bg-dark p-1 overflow-auto d-flex">
    <section id="views" class="flex-grow-1 layoutCont">
    </section>
    <aside id="thumbList" class="overflow-auto">
        <section id="thumbCont"></section>
    </aside>
</main>