<main class="tab-content container-fluid bg-dark p-1 overflow-auto d-flex">
    <section id="views" class="flex-grow-1">
    </section>
    <aside id="tumbList" class="overflow-auto">
        
    </aside>
</main>