<main class="tab-content container-fluid bg-dark p-1 overflow-auto d-flex">
    <section class="flex-grow-1 masonry masonry-1 align-items-start align-content-start" id="views">
        <div class="text-light selectedPlayer player-quad" id="camOne" data-type="oneCam">
            <div class="d-flex justify-content-between">
                <h4 class="player-title feed-title" data-title="Choose First Camera">Choose First Camera</h4>
                <div class="d-flex my-auto mx-1">
                    <button class="btn mutePlayer muted btn-close btn-close-white" type="button"></button>
                    <button class="btn fullPlayer btn-close btn-close-white mx-2" type="button"></button>
                    <button class="btn closePlayer btn-close btn-close-white" type="button"></button>
                </div>
            </div>
            <div class="player-container"></div>
        </div>
        <div class="text-light d-none player-quad" id="camTwo" data-type="twoCam">
            <div class="d-flex justify-content-between">
                <h4 class="player-title feed-title" data-title="Choose Second Camera">Choose Second Camera</h4>
                <div class="d-flex my-auto mx-1">
                    <button class="btn mutePlayer muted btn-close btn-close-white" type="button"></button>
                    <button class="btn fullPlayer btn-close btn-close-white mx-2" type="button"></button>
                    <button class="btn closePlayer btn-close btn-close-white" type="button"></button>
                </div>
            </div>
            <div class="player-container"></div>
        </div>
        <div class="text-light d-none player-quad" id="camThree" data-type="threeCam">
            <div class="d-flex justify-content-between">
                <h4 class="player-title feed-title" data-title="Choose Third Camera">Choose Third Camera</h4>
                <div class="d-flex my-auto mx-1">
                    <button class="btn mutePlayer muted btn-close btn-close-white" type="button"></button>
                    <button class="btn fullPlayer btn-close btn-close-white mx-2" type="button"></button>
                    <button class="btn closePlayer btn-close btn-close-white" type="button"></button>
                </div>
            </div>
            <div class="player-container"></div>
        </div>
        <div class="text-light d-none player-quad" id="camFour" data-type="fourCam">
            <div class="d-flex justify-content-between">
                <h4 class="player-title feed-title" data-title="Choose Fourth Camera">Choose Fourth Camera</h4>
                <div class="d-flex my-auto mx-1">
                    <button class="btn mutePlayer muted btn-close btn-close-white" type="button"></button>
                    <button class="btn fullPlayer btn-close btn-close-white mx-2" type="button"></button>
                    <button class="btn closePlayer btn-close btn-close-white" type="button"></button>
                </div>
            </div>
            <div class="player-container"></div>
        </div>
    </section>
    <aside id="thumbList" class="overflow-auto">
        <section id="thumbCont"></section>
    </aside>
</main>