<main id="appHome" class="tab-content container-fluid bg-dark py-3 overflow-auto d-flex">
    <aside id="thumbList" class="d-flex flex-wrap gap-3 overflow-auto w-100">
        <section id="thumbCont"></section>
    </aside>
</main>