<main id="playerCont" class="tab-content container-fluid py-3 overflow-auto d-flex appHome">
    <aside id="thumbList" class="d-flex flex-wrap gap-3 overflow-auto w-100">
        <section id="thumbCont" class="w-100 d-flex gap-2 flex-wrap"></section>
    </aside>
</main>