<article class="d-none d-flex justify-content-around p-5 gap-5 h-50 my-auto" id="dollsCont">
    <button class="btn btn-danger flex-grow-1 fs-1" id="trebmal_startRecord">Start Record</button>
    <button class="btn btn-primary flex-grow-1 fs-1" id="trebmal_stopRecord">Stop Record</button>
    <button class="btn btn-success flex-grow-1 fs-1" id="trebmal_startPlay">Play Backwards</button>
	<div class="d-none">
		<button id="trebmal_stopPlay">Stop Playback</button>
		<button id="trebmal_startRing1">Start Ring 1</button>
		<button id="trebmal_stopRing1">Stop Ring 1</button>
		<button id="trebmal_startRing2">Start Ring 2</button>
		<button id="trebmal_stopRing2">Stop Ring 2</button>
	</div>
</article>