html {
  height: 100%;
}

#toggleConfig:hover {
    opacity: 1;
}

.rotate {
    transform: rotateZ(72deg);
}

#config {
  position: fixed;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  transition: 0.3s;
  inset: 0;
  padding: 20px;
  z-index: 10;
}

#config > section {
  max-height: 100%;
}

#config.hidden {
  opacity: 0;
  pointer-events: none;
}

#loading {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  background-image: url("/media/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: 0.3s;
}

#loading.hidden {
  opacity: 0;
  pointer-events: none;
}

td {
  vertical-align: middle;
}

.mainCont {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

#config th {
  background-color: rgb(37, 43, 50);
}

nav.drag {
  app-region: drag;
}

.btn {
  app-region: no-drag;
}

.bg-title {
  background-color: #313d48;
}

.masonry {
  display: grid;
  grid-template-areas: "tl tr" "bl br";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.masonry-2 {
  column-count: 2;
}

.masonry-1 {
  grid-template-areas: "tl" "bl";
  grid-template-columns: 1fr;
}

.masonry > * {
  break-inside: avoid;
  background: rgba(49, 61, 72, 0.36) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
  padding: 1rem!important;
}

.masonry table {
  margin-bottom: 0 !important;
}

#syslogHistogram {
  visibility: hidden;
  height: 0vh !important;
}

#syslogHistogramToggle::after {
  content: "Show Histogram";
}

.showHistogram table[data-catagory="syslog"] {
  display: none;
  top: 100vh;
}

.showHistogram #syslogHistogram {
  visibility: visible;
  height: 60vh !important;
}

.showHistogram #syslogHistogramToggle::after {
  content: "Show Logs";
}

.pie {
  --w: 50px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  text-align: right;
  line-height: 1.1;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 10px;
  background: conic-gradient(var(--ci) calc(var(--pi)*1%),#0000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.sourceSelect {
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(49, 61, 72);
  border: solid 2px rgb(49, 61, 72);
  max-width: 300px;
  min-width: 120px;
  width: 15vw;
  opacity: 1;
  transition: 0.3s;
}

.sourceSelect * {
  pointer-events: none;
}

.sourceSelect > div {
  border-radius: 3px;
}

.tabHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.selectedPlayer {
  outline: rgba(25, 117, 234, 0.67) solid 5px;
}

#tumbList {
  padding-left: 1rem !important;
  transition: 0.3s;
}
.mutePlayer {
  background-image: url(../img/speaker.svg);
}

.mutePlayer.muted {
  background-image: url(../img/mute.svg);
}

.fullPlayer {
  background-image: url(../img/expand.svg);
}

@supports(selector(:has(p))) {
  .sourceSelect {
      max-width: 0px;
      min-width: 0px;
      width: 0;
      opacity: 0;
  }
  
  #tumbList {
      padding-left: 0rem !important;
  }
  
  main:has(.selectedPlayer) aside .sourceSelect {
      max-width: 300px;
      min-width: 120px;
      width: 15vw;
      opacity: 1;
  }
  
  main:has(.selectedPlayer) aside#tumbList {
      padding-left: 1rem !important;
  }

  #appHome .sourceSelect {
    max-width: 300px;
    min-width: 200px;
    width: 20vw;
    opacity: 1;
  }
}