html {
  height: 100%;
}

#toggleConfig:hover {
    opacity: 1;
}

.rotate {
    transform: rotateZ(72deg);
}

.popup {
  position: fixed;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  transition: 0.3s;
  inset: 0;
  padding: 20px;
  z-index: 10;
}

.popup > section {
  max-height: 100%;
}

.popup.hidden {
  opacity: 0;
  pointer-events: none;
}

#loading {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  background-image: url("/media/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: 0.3s;
}

#loading.hidden {
  opacity: 0;
  pointer-events: none;
}

td {
  vertical-align: middle;
}

.mainCont {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.popup th {
  background-color: rgb(37, 43, 50);
}

nav.drag {
  app-region: drag;
}

.btn {
  app-region: no-drag;
}

.bg-title {
  background-color: #313d48;
}

.masonry {
  display: grid;
  grid-template-areas: "tl tr" "bl br";
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.masonry-2 {
  column-count: 2;
}

.masonry-1 {
  grid-template-areas: "tl" "bl";
  grid-template-columns: 1fr;
}

.masonry > * {
  break-inside: avoid;
  background: rgba(49, 61, 72, 0.36) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
  padding:  2px !important;
}

.masonry table {
  margin-bottom: 0 !important;
}

.sourceSelect {
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(49, 61, 72);
  border: solid 2px rgb(49, 61, 72);
  max-width: 300px;
  min-width: 120px;
  width: 15vw;
  opacity: 1;
  transition: 0.3s;
}

.sourceSelect * {
  pointer-events: none;
}

.sourceSelect > div {
  border-radius: 3px;
}

.tabHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.selectedPlayer {
  outline: rgba(25, 117, 234, 0.67) solid 3px;
}

#tumbList {
  padding-left: .25rem !important;
  transition: 0.3s;
}

.triple #camThree {
  translate: 50% 0;
}

.feed-title {
  padding-left: 3px;
  padding-bottom: 3px;
  margin: 0;
}

.player-container {
  border-radius: 3px;
  overflow: hidden;
}

.thumbnail {
  aspect-ratio: 16/9;
  background: black;
}

.player-container:empty {
  aspect-ratio: 16/9;
}
.player-container:empty::before {
  content: "No Feed Selected";
  background: black;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: auto;
  padding: 25%;
}

.mutePlayer {
  background-image: url(../img/speaker.svg);
}

.mutePlayer.muted {
  background-image: url(../img/mute.svg);
}

.fullPlayer {
  background-image: url(../img/expand.svg);
}

.fullPlayer,
.mutePlayer {
  display: none;
}

.decodeStatus::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: block;
  background: #5f6873;
  border-radius: 50%;
  border: 1px solid #354655;
  margin: auto;
}

.error > .decodeStatus::before {
  background-color: red;
}

.Pushing > .decodeStatus::before {
  background-color: #14ff00;
}

.ready > .decodeStatus::before {
  background-color: #0040ff;
}


@supports(selector(:has(p))) {
  .sourceSelect {
      max-width: 0px;
      min-width: 0px;
      width: 0;
      opacity: 0;
  }
  
  #tumbList {
      padding-left: 0rem !important;
  }
  
  main:has(.selectedPlayer) aside .sourceSelect {
      max-width: 300px;
      min-width: 120px;
      width: 15vw;
      opacity: 1;
  }
  
  main:has(.selectedPlayer) aside#tumbList {
      padding-left: 0.25rem !important;
  }

  #appHome .sourceSelect {
    max-width: 300px;
    min-width: 200px;
    width: 20vw;
    opacity: 1;
  }
}

.op-message-container::before {
  content: "No camera feed currently connected";
  color: white;
  display: inline-block;
  background-color: rgba(18, 18, 28, .3);
  padding: 0.8em 1.2em;
  word-wrap: break-word;
  max-width: 80%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 110%;
  font-weight: bold;
}

.op-message-text {
  display: none !important;
}

.op-gradient-bottom.op-clear {
  background-color: transparent !important;
}

.op-context-panel,
.setting-holder.op-navigators,
.op-navigators.op-play-controller {
  display: none !important;
}










#layoutGridCont {
  display: grid;
  aspect-ratio: 16/9;
  gap: 0.5rem;
  max-height: 65vh;
  margin-inline: auto;
}

#layoutGridCont[data-rows="1"] {grid-template-rows: repeat(1, 1fr);}
#layoutGridCont[data-rows="2"] {grid-template-rows: repeat(2, 1fr);}
#layoutGridCont[data-rows="3"] {grid-template-rows: repeat(3, 1fr);}
#layoutGridCont[data-rows="4"] {grid-template-rows: repeat(4, 1fr);}
#layoutGridCont[data-rows="5"] {grid-template-rows: repeat(5, 1fr);}
#layoutGridCont[data-rows="6"] {grid-template-rows: repeat(6, 1fr);}

#layoutGridCont[data-cols="1"] {grid-template-columns: repeat(1, 1fr);}
#layoutGridCont[data-cols="2"] {grid-template-columns: repeat(2, 1fr);}
#layoutGridCont[data-cols="3"] {grid-template-columns: repeat(3, 1fr);}
#layoutGridCont[data-cols="4"] {grid-template-columns: repeat(4, 1fr);}
#layoutGridCont[data-cols="5"] {grid-template-columns: repeat(5, 1fr);}
#layoutGridCont[data-cols="6"] {grid-template-columns: repeat(6, 1fr);}

.layoutPlaceholder {
  --col-start: 0;
  --col-end: 0;
  --row-start: 0;
  --row-end: 0;
  border: 1px solid #3b3f44;
  border-radius: 5px;
  box-shadow: #000 0px 0px 10px -5px;
  padding: 1rem;
  grid-column: var(--col-start)/var(--col-end);
  grid-row: var(--row-start)/var(--row-end);
  position: relative;
  overflow: hidden;
}

.layoutDragTop {
  width: 100%;
  height: var(--width);
  margin: -1rem;
}

.layoutDragLeft {
  height: 100%;
  width: var(--width);
  margin: -1rem;
}

.layoutDragBottom {
  width: 100%;
  height: var(--width);
  margin-left: -1rem;
  bottom: 0;
}

.layoutDragRight {
  height: 100%;
  width: var(--width);
  margin-top: -1rem;
  right: 0;
}

.layoutDragTop,
.layoutDragLeft,
.layoutDragBottom,
.layoutDragRight {
  position: absolute;
  border-radius: 3px;
  --width: 0.75rem;
}

.layoutDragTop:hover,
.layoutDragBottom:hover {
  background: rgba(0, 149, 255, 0.438);
  cursor: row-resize;
}

.layoutDragLeft:hover,
.layoutDragRight:hover {
  background: rgba(0, 149, 255, 0.438);
  cursor: col-resize;
}

.layoutPlaceholder[data-col-start="1"] {--col-start: 1;}
.layoutPlaceholder[data-col-start="2"] {--col-start: 2;}
.layoutPlaceholder[data-col-start="3"] {--col-start: 3;}
.layoutPlaceholder[data-col-start="4"] {--col-start: 4;}
.layoutPlaceholder[data-col-start="5"] {--col-start: 5;}
.layoutPlaceholder[data-col-start="6"] {--col-start: 6;}

.layoutPlaceholder[data-col-end="1"] {--col-end: 2;}
.layoutPlaceholder[data-col-end="2"] {--col-end: 3;}
.layoutPlaceholder[data-col-end="3"] {--col-end: 4;}
.layoutPlaceholder[data-col-end="4"] {--col-end: 5;}
.layoutPlaceholder[data-col-end="5"] {--col-end: 6;}
.layoutPlaceholder[data-col-end="6"] {--col-end: 7;}

.layoutPlaceholder[data-row-start="1"] {--row-start: 1;}
.layoutPlaceholder[data-row-start="2"] {--row-start: 2;}
.layoutPlaceholder[data-row-start="3"] {--row-start: 3;}
.layoutPlaceholder[data-row-start="4"] {--row-start: 4;}
.layoutPlaceholder[data-row-start="5"] {--row-start: 5;}
.layoutPlaceholder[data-row-start="6"] {--row-start: 6;}

.layoutPlaceholder[data-row-end="1"] {--row-end: 2;}
.layoutPlaceholder[data-row-end="2"] {--row-end: 3;}
.layoutPlaceholder[data-row-end="3"] {--row-end: 4;}
.layoutPlaceholder[data-row-end="4"] {--row-end: 5;}
.layoutPlaceholder[data-row-end="5"] {--row-end: 6;}
.layoutPlaceholder[data-row-end="6"] {--row-end: 7;}